@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?v43nfi');
    src: url('./fonts/icomoon.eot?v43nfi#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?v43nfi') format('truetype'), url('./fonts/icomoon.woff?v43nfi') format('woff'), url('./fonts/icomoon.svg?v43nfi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e900";
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.header {
    background-color: #252424;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    display: flex;
    height: inherit;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header nav ol {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
    color: gray;
    margin: 0;
}

h1 strong {
    color: #c70526;
}

h2 {
    color: #c70526;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    background-color: #252424;
    background-position-x: right;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}

.heroImg {
    object-fit: cover;
    border-radius: 50%;
    margin-left: 5px;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    align-items: center;
    justify-content: space-between;
}

.projectTitle {
    font-size: 1.5em;
    margin-bottom: .3em;
}

.projectCourse,
.projectDate,
.projectUrl {
    margin: .3em 0;
}

.projectDescription {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.projectDetails {
    width: 50%;
}

.projectImageWrapper {
    width: 50%;
    /* border: 1px solid black; */
}

.projectImageWrapper img {
    max-width: 100%;
}

.footer {
    color: white;
    background-color: #252424;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.eventList {
    display: flex;
    flex-wrap: wrap;
}

.eventListTitle {
    margin-left: 20px;
}

.event {
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 300px;
    object-fit: cover;
}

.eventDetail {
    margin: 20px 40px;
    background: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.eventDescription {
    text-align: left;
}

.eventUrl {
    color: #c70526;
    border: 1px solid #c70526;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background: #c70526;
    color: white;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.socialLink {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.socialLink.Twitter {
    background-image: url('https://drive.google.com/uc?export=view&id=19UEOejeRvAWu9EWRHgNixmdDNh3IIGjG');
}

.socialLink.Facebook {
    background-image: url('https://drive.google.com/uc?export=view&id=1MZHJDhAWNUw4Fey11KpxftLIJ0RufjNm');
}

.socialLink.Github {
    background-image: url('https://drive.google.com/uc?export=view&id=1vLdQHJRUg0939YOXntBcNODliF4pwoGi');
}

.socialLink.Instagram {
    background-image: url('https://drive.google.com/uc?export=view&id=1GlVY25_axk61Pbd36rMtRdVe9kBzWyqV');
}

.formEmail input {
    border-color: gray;
    border: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('https://drive.google.com/uc?export=view&id=19M8M9zsHzn_aK2lCKe96Yw1JOg24ZWoj');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.formEmail button {
    display: block;
    margin: 10px 0;
    background: transparent;
    color: white;
    width: 100px;
    border-radius: 5px;
    /* margin: 10px auto 0; */
    padding: 10px 0;
}

.formEmail h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.htmiVideo {
    width: 100%;
    height: auto;
}

.youtubeVideo {
    /* (proporcion = heigth * 100 / width) en pading top, para que se estire el video se usa position absolute*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexibleVideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: blue;
}

.burgerButton {
    /* align-items: center;
    justify-content: center; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    /* font-size: 50px; */
}

@media screen and (max-width: 1023px) {
    .portfolio {
        padding: 0;
    }
    .container {
        padding: 0 1em;
    }
    h1 {
        font-size: 1.5em;
        z-index: 2;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        position: fixed;
        background: rgba(0, 0, 0, .5);
        top: 0;
        left: -100vw;
        bottom: 0;
        z-index: 3;
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.isActive {
        left: 0;
    }
    .burgerButton {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        display: block;
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .heroImg {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    .project {
        display: block;
    }
    .projectImageWrapper {
        width: auto;
        text-align: center;
    }
    .projectDetails {
        width: auto;
        font-size: 16px;
    }
    .projectTitle {
        font-size: 1.5em;
    }
    .projectUrl {
        font-size: 1em;
    }
    .projectCourse {
        font-size: .7em;
    }
    .projectDate {
        font-size: 1em;
    }
    .projectDescription {
        font-size: .8em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }
    .eventDetail {
        margin: -2 .5em .5em;
        padding: 1em;
    }
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
    }
}

@media screen and (max-width: 480px) {
    .projectDetails {
        width: auto;
        font-size: 12px;
    }
    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .formEmail button {
        margin: 1em auto;
    }
    .formEmail h3 {
        margin-top: 0;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px) {
    .projectDetails {
        width: auto;
        font-size: 12px;
    }
    h1 {
        font-size: 1.2em;
        color: white;
        background: rgba(0, 0, 0, .5);
    }
    .hero {
        padding: 2em 1em;
    }
    .socialLink {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}