body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.header{
    background-color: #252424;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    display: flex;
    height: inherit;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header nav ol{
    margin: 0;
}

.header a{
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    letter-spacing: -.2px;
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
    color: white;
    margin: 0;
}

h1 strong{
    color: #c70526;
}

h2{
    color: #c70526;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    background-color: #252424;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroImg{
    object-fit: cover;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}

.project{
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: white;
    align-items: center;
    justify-content: space-between;
}

.projectTitle{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.projectCourse, .projectDate, .projectUrl{
    margin: 10px 0;
}

.projectDescription{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}
.projectDetails{
    width: 500px;
}

.projectImageWrapper{
    width: 500px;
    /* border: 1px solid black; */
}
<<<<<<< HEAD
=======
.footer{
    color: white;
    background-color: #252424;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}

.eventList{
    display: flex;
    flex-wrap: wrap;
}

.eventListTitle{
    margin-left: 20px;
}

.event{
    
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.eventDetail{
    margin: 20px 40px;
    background: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}
.eventDescription{
    text-align: left;
}

.eventUrl{
    color: #c70526;
    border: 1px solid #c70526;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.contact{
    background: #c70526;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social{
    
}
.socialLink{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}
.socialLink.Twitter{
    background-image: url('https://drive.google.com/uc?export=view&id=19UEOejeRvAWu9EWRHgNixmdDNh3IIGjG');
}
.socialLink.Facebook{
    background-image: url('https://drive.google.com/uc?export=view&id=1MZHJDhAWNUw4Fey11KpxftLIJ0RufjNm');
    
}
.socialLink.Github{
    background-image: url('https://drive.google.com/uc?export=view&id=1vLdQHJRUg0939YOXntBcNODliF4pwoGi');
    
}
.socialLink.Instagram{
    background-image: url('https://drive.google.com/uc?export=view&id=1GlVY25_axk61Pbd36rMtRdVe9kBzWyqV');
    
}
.formEmail input{
    border-color: gray;
    border: solid;
    border-radius: 5px;
    padding:10px 20px 10px 25px;
    background-image: url('https://drive.google.com/uc?export=view&id=19M8M9zsHzn_aK2lCKe96Yw1JOg24ZWoj');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x: 5px;
}
.formEmail button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    width: 100px;
    border-radius: 5px;
    /* margin: 10px auto 0; */
    padding: 10px 0;
    margin-top: 10px;
}
.formEmail h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
>>>>>>> pading
